/* .bg-light { */
	/* background: transparent !important; */
	/* position: absolute; */
	/* width: 100%; */
/* } */

.navbar-toggler:not(:disabled):not(.disabled) {
	background-color: white;
	position: absolute;
	right: 0;
	margin-right: 10px;
}


 /* ! probleme de positionnement */
#menu-hamburger {
	background-color: white;
    position: absolute;
    right: 0;
    margin-right: 10px;
}

@media screen and (max-width: 450px) {

	.navbar-light .navbar-brand {
		color: rgba(0, 0, 0, .9);
		width: 29rem;
	}

	.navbar-toggler {
		width: 54px;
		height: 38px;
		margin-right: 5px;
	}

	.logo {
		width: 220px;
	}
}

#menu {
	background: black;
    padding: 20px;
    font-size: 20px;
    text-transform: uppercase;
}