* {
	margin: 0;
	box-sizing: border-box;
	font-family: 'Times New Roman', Times, serif;
}

body {
	background-color: #fff0f4 !important;
	font-family: Arial, sans-serif !important;
    margin: 0;
    padding: 0;
}

.bg-light{
	background-color: #0080FF!important;
}

.navbar-light .navbar-nav .nav-link {
	color: #fff86f !important;
	transition: all 0.5s;
	font-size: 18px;
}

.navbar-toggler:not(:disabled):not(.disabled)
.navbar-light .navbar-nav .nav-link:hover {
	color: #000000 !important;
	margin-top: 10px;
}

.button_connexion {
	background-color: #0080FF;
	border: solid 2px black;
	padding: 8px;
	border-radius: 10px;
	text-decoration: none;
	color: rgb(255, 255, 255) !important;
	font-weight: 400;
	transition: all 0.3s;
}

.button_connexion:hover {
	background-color: #4CAF50;
	transform: scale(1.1);
}

/* ! FOOTER */
footer {
	margin: 15px;
	
}

.hr_footer {
	background-color: black;
}

.inscription_contact {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nous_contacter {
	border-radius: 10px;
	padding: 15px;
}

/* & Liens d'inscription a la news letter */
.button_suscribe {
	padding: 0;
	margin: 0;
	border: none;
	background: none;
}

.button_suscribe {
	--primary-color: #111;
	--hovered-color: #0080FF;
	position: relative;
	display: flex;
	font-weight: 600;
	font-size: 20px;
	gap: 0.5rem;
	align-items: center;
}

.button_suscribe p {
	margin: 0;
	position: relative;
	font-size: 20px;
	color: var(--primary-color);
	transition: 0.2s;
}

.button_suscribe p:hover {
	color: #0080FF;
}


.button_suscribe p::before {
	position: absolute;
	box-sizing: border-box;
	content: "";
	width: 0%;
	inset: 0;
	color: var(--hovered-color);
	overflow: hidden;
	transition: 0.3s ease-out;
}

.button_suscribe:hover::after {
	width: 100%;
}

.button_suscribe:hover p::before {
	width: 100%;
}

.button_suscribe:hover svg {
	transform: translateX(4px);
	color: var(--hovered-color)
}

.button_suscribe svg {
	color: var(--primary-color);
	transition: 0.2s;
	position: relative;
	width: 15px;
	transition-delay: 0.2s;
}

/* & Coordonnée de l'asso */
.coordonnee {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.nous_contacter {
	background-color: #4CAF50;
	border: solid 2px black;
	border-radius: 10px;
	padding: 15px;
	text-decoration: none;
	color: rgb(255, 255, 255);
	font-weight: bold;
	transition: all 0.5s;
}

.nous_contacter:hover {
	text-decoration: none;
	color: #000000;
	transform: scale(1.05);
	background-color: #429b45;
}

.createur_parent {
	text-align: center;
}

.logo {
	width:60%;
}

@media only screen and (max-width: 993px) {
	footer {
		margin: 5px;
	}
	
	hr {
		background-color: black;
	}
	
	.navbar-title {
		font-size: 12px;
	}
	
	.bg-light {
		background-color: #0080FF!important;
		display: flex;
		flex-direction: row;
	}
	
	.logo {
		width: 60%;
	}

	.inscription_contact {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.nous_contacter {
		border-radius: 10px;
		padding: 5px;
		font-size: 14px;
	}

	.button_suscribe > p {
		font-size: 14px;
		margin-right: 5px;
	}

	

	p{
		font-size: 14px;
		padding: 5px;
	}

	.button_connexion{
		text-align: center;
		transition: all 0.5s;
		width: 50%;
		margin: 0 auto;
	}

	.button_connexion:hover {
		transform: scale(0.9);
	}
}

.container-fluid {
	background: #000000d6;
	color: rgb(255, 244, 244);
	padding: 15px;
}

.titre_div_footer {
	font-size: large;
}

.mention {
	margin: 50px;
}

.mention h1 {
	margin-bottom: 50px;
}
