* {
	margin: 0;
	box-sizing: border-box;
	font-family: 'Merriweather', serif;
}

body {
	background-color: #edeeff !important;
	font-family: Arial, sans-serif !important;
    margin: 0;
    padding: 0;
}

.bg-light{
	/* background: linear-gradient(45deg, #0080FF, #FFF259); */
	background-color: #000000a8!important;
}

.navbar-light .navbar-nav .nav-link {
	color: #b5b5b5 !important;
	transition: all 0.3s;
	font-size: 20px;
	margin: 5px;
	font-weight: bold;
}

.navbar-light .navbar-nav .nav-link:hover {
	color: #ffffff !important;
	/* margin-top: 10px; */
}

.button_connexion {
	background-color:  #4CAF50;
	border: solid 2px rgb(255, 255, 255);
	padding: 8px;
	border-radius: 10px;
	text-decoration: none;
	font-weight: 400;
	transition: all 0.4s;
}

#deco {
	background-color:  #c93737;
	border: solid 2px rgb(255, 255, 255);
	padding: 8px;
	border-radius: 10px;
	text-decoration: none;
	font-weight: 400;
	transition: all 0.4s;
}

.button_connexion:hover {
	background-color:#0080FF;
	transform: scale(1.1);
	box-shadow: 0px 0px 15px 2px #FFFFFF;
}

#deco:hover {
	background-color:#0080FF;
	transform: scale(1.1);
	box-shadow: 0px 0px 15px 2px #FFFFFF;
}

/* ! FOOTER */
footer {
	padding: 15px;
	/* background-color: #0080ff44; */
	width: 100%;
	
}

.image_footer_blason {
	display: flex;
    margin: 0 auto;
    width: 20vh;
}

video {
	border-radius: 10px;
}

.titre {
	color: #60b663dd;
	margin-top: 2vh;
}

.hr_footer {
	background-color: #429b45;
}

.inscription_contact {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nous_contacter {
	border-radius: 10px;
	padding: 15px;
}

/* & Liens d'inscription a la news letter */
.button_suscribe {
	padding: 0;
	margin: 0;
	border: none;
	background: none;
}

.button_suscribe {
	--primary-color: #111;
	--hovered-color: #0080FF;
	position: relative;
	display: flex;
	font-weight: 600;
	font-size: 20px;
	gap: 0.5rem;
	align-items: center;
}

.button_suscribe p {
	margin: 0;
	position: relative;
	font-size: 20px;
	color: var(--primary-color);
	transition: 0.2s;
}

.button_suscribe p:hover {
	color: #0080FF;
}


.button_suscribe p::before {
	position: absolute;
	box-sizing: border-box;
	content: "";
	width: 0%;
	inset: 0;
	color: var(--hovered-color);
	overflow: hidden;
	transition: 0.3s ease-out;
}

.button_suscribe:hover::after {
	width: 100%;
}

.button_suscribe:hover p::before {
	width: 100%;
}

.button_suscribe:hover svg {
	transform: translateX(4px);
	color: var(--hovered-color)
}

.button_suscribe svg {
	color: var(--primary-color);
	transition: 0.2s;
	position: relative;
	width: 15px;
	transition-delay: 0.2s;
}

/* & Coordonnée de l'asso */
.coordonnee {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.nous_contacter {
	background-color: #4CAF50;
	border: solid 2px black;
	border-radius: 10px;
	padding: 15px;
	text-decoration: none;
	color: rgb(255, 255, 255);
	font-weight: bold;
	transition: all 0.5s;
}

.nous_contacter:hover {
	text-decoration: none;
	color: #000000;
	transform: scale(1.05);
	background-color: #429b45;
}

.createur_parent {
	text-align: center;
}

.logo {
	width:60%;
}

@media only screen and (max-width: 993px) {
	footer {
		margin: 5px;
	}
	
	hr {
		background-color: black;
	}
	
	.navbar-title {
		font-size: 12px;
	}
	
	.bg-light {
		background-color: #0080FF!important;
		display: flex;
		flex-direction: row;
	}
	
	.logo {
		width: 60%;
	}

	.inscription_contact {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.nous_contacter {
		border-radius: 10px;
		padding: 5px;
		font-size: 14px;
	}

	.button_suscribe > p {
		font-size: 14px;
		margin-right: 5px;
	}

	

	p{
		font-size: 14px;
		padding: 5px;
	}

	.button_connexion{
		text-align: center;
		transition: all 0.5s;
		width: 50%;
		margin: 0 auto;
	}

	.button_connexion:hover {
		transform: scale(0.9);
	}
}

.container-fluid {
	background: #000000d6;
	color: rgb(255, 244, 244);
	padding: 15px;
	position: relative;
    top: 94px;
}

.titre_div_footer {
	font-size: large;
}

.mention {
	margin: 50px;
}

.mention h1 {
	margin-bottom: 50px;
}
.text-lg-start {
	background-color: transparent !important;
}

.navbar-brand {
	margin: 0 !important;
	padding: 0 !important;
	font-size: 0px;
}

.nav-pills .nav-link {
	color: #4ebd52 !important;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
	background-color: #fff0f4;
	font-weight: bold;
}

.nav-link:hover {
	color: #267129 !important;
}

/* Personnalisation de la barre de défilement verticale */
::-webkit-scrollbar {
	width: 12px;
	border-radius: 10%;
  }
  
  ::-webkit-scrollbar-track {
	background: #f1f1f1; 
  }
  
  ::-webkit-scrollbar-thumb {
	background: #4ebd52e0; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
	background: #fff200a2; 
  }