#presentation_partenaire {
    background-color: red;
}

#partenaire_1,
#partenaire_2,
#partenaire_3 {
    margin: 5.2%;
}

#img_couveture_partenaire1,
#img_couverture_partenaire2, 
#img_couverture_partenaire3 {
    width: 100%;
}

.text_partenaire1, 
.text_partenaire2, 
.text_partenaire3 {
    margin: 50px;
    text-align: center;
    font-size: 20px;
    padding-left: 100px;
    padding-right: 100px;
}

#presntation_partenaire {
    display: flex; 
    justify-content: center; 
    flex-wrap: wrap; /* Permettre aux images de passer en colonne lorsqu'elles n'ont plus assez d'espace en ligne */
  }
  
  #presntation_partenaire img {
    max-width: 100%; /* Empêcher les images de dépasser leur conteneur */
    margin: 85px 40px; 
  }

  #img_couverture_partenaire1,
  #img_couverture_partenaire2,
  #img_couverture_partenaire3 {
    width: 100%;
  }